cycler==0.11.0
fonttools==4.25.0
importlib_resources==5.12.0
kiwisolver==1.4.4
matplotlib==3.7.1
numexpr==2.8.4
packaging==23.1
pandas==2.2.2
patsy>=0.5.6
pillow==10.0.1
pyparsing==3.0.9
python-dateutil==2.8.2
pytz==2023.3.post1
scipy==1.11.3
six==1.16.0
statsmodels==0.14.2
tenacity==8.2.2
tornado==6.3.3
tzdata==2024.1
unicodedata2==15.0.0
zipp==3.15.0
numpy==1.26.4
plotly==5.23.0
streamlit==1.37.0