streamlit==1.29.0
pandas==2.1.4
numpy==1.26.2
plotly==5.18.0
streamlit-option-menu==0.3.6
python-dotenv==1.0.0
pytz==2023.3.post1
requests==2.31.0
altair==5.2.0
matplotlib==3.8.2
statsmodels==0.14.1
xlsxwriter==3.2.0
